.chat_window{
    background-color: rgb(65, 142, 42);
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;

    @media screen and (min-width: 768px) {
        background-color: darkorchid;
        position: unset;
        
        .show_chats{
            display: none;
        }
    }
}