@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&family=Kanit:wght@300&family=Open+Sans:wght@300&family=Oswald:wght@300;400&family=Rubik:ital,wght@0,500;1,900&display=swap');

:root{
    --messenger-blue: rgb(50, 126, 240);
}

body{
    margin: 0;

    font-family: 'Gentium Book Plus', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar {
    width: 2px;    
    height: 0px;  
    transition: 0.3s;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--messenger-blue); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: red; 
}