.message{
    width: fit-content;
    max-width: 70%;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 20px;
    font-size: 20px;

    .message_text{
        // margin-bottom: 10px; 
        overflow-wrap: break-word;        
    }

    .delete{
        transition: 0.3s;        

        &:hover{
            cursor: pointer;
            color: black;
        }
    }

    .username{
        font-size: 13px;
        color: rgb(200, 200, 200);
        margin: 5px 0px;
    }

    .date_wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .date{
            font-size: 13px;
            color: rgb(200, 200, 200);
            margin-right: 10px;
        }
    }
}

.other_user_message{
    background-color: rgb(100, 100, 100);
}

.your_message{
    background-color: var(--messenger-blue);
    align-self: flex-end;
}

.warning{
    color: red;

    h2{
        text-align: center;
    }

    .button_wrapper{
        text-align: center;

        button{
            margin: auto;
            border: none;
            border-radius: 10px;
            font-size: 20px;
            padding: 10px 20px;
            // width: 50%;
            background-color: var(--messenger-blue);
            color: white;

            &:hover{
                cursor: pointer;
            }
        }
    }
}