.chat{
    display: flex;
    height: fit-content;
    padding: 10px 5px;
    background-color: black;
    transition: 0.3s;

    .profile_picture{
        img{
            border-radius: 50%;
            height: 55px;
            width: auto;
        }
    }

    .chat_description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        margin-left: 10px;
        width: 100%;
        
        .username{
            margin-bottom: 5px;
        }

        .last_message_wrapper{
            display: grid;
            grid-template-columns: 70% auto;
            width: 100%;

            .last_message{
                text-overflow: ellipsis;
                white-space: nowrap; 
                overflow: hidden;
                margin-right: 8px;
            }
        }
    }

    @media screen and (min-width: 992px) {
        &:hover{
            cursor: pointer;
            background-color: rgba(100, 100, 100, 0.8);
        }

        &:active{
            background-color: rgba(150, 150, 150, 0.8);
        }
    }
}