.chats_wrapper{
    height: 100vh;

    .phone_view{
        height: 100%;
        background-color: black;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .desktop_view{
        display: none;
        
        @media screen and (min-width: 768px) {
            display: grid;

            height: 100%;
            grid-template-columns: 6% 25% auto;
        }
    }
}