.chat_header{
    display: grid;
    grid-template-columns: 15% auto 30%;
    background-color: black;
    width: 100%;

    .profile_picture{
        display: grid;

        img{
            border-radius: 50%;
            height: 50px;
            width: auto;
            margin: auto;
        }
    }

    .display_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 10px;
        color: white;

        .title{
            font-size: 25px;
            font-weight: bold;
        }
    }

    .links{
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        .link_icon{
            font-size: 30px;
            color: white;
            transition: 0.3s;

            &:hover{
                cursor: pointer;
                color: rgba(150, 150, 150, 0.8);
            }

            &:active{
                color: var(--messenger-blue);
            }
        }
    }
}

.add_new_chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 2px solid red;

    .input_wrapper{
        text-align: center;
    }

    input{
        font-size: 18px;
        // margin-left: 5px;
        // width: 50%;
    }

    button{
        margin: auto;
        border: none;
        border-radius: 5px;
        padding: 8px 25px;
        color: white;
        background-color: var(--messenger-blue);

        &:hover{
            cursor: pointer;
        }
    }
}